.prices-table{
    padding-top: $s-lg;
    .title-box, .subtitle-box {
        text-align: center;
        padding: 5px 0;
    }

    .prices-section{
        padding-top:60px;
    }

    .prices-box{
        width: 33,333%;
    }
    
}