.domain-register
	.container
		.domain__title
			h1 Registro de domínio
			h2.title-box Compre o domínio perfeito para seu site
			p.subtitle-box Registro de domínio .COM a partir de R$59,99 R$ 26,99/ano*
		form.domain__search.grid
			input.domain__input
			button.button.button--secondary pesquisar

