.prices-table
	h2.title-box Perfeita para começar, flexível para crescer
	p.subtitle-box A hospedagem feita para todos os sites

	.prices-section
		.prices-box
			.prices-box__header
				i.icon.icon-hospedagem
				h2 Hospedagem de Site com domínio grátis 
			.prices-box__body
				p Todos os recursos para colocar seu site no ar
				small a partir de
				p.prices-box__price
					| R$ 
					span 9,39
					|/mês*
			button.button.button--full
				| Ver Planos

		.prices-box
			.prices-box__header
				i.icon.icon-wordpress
				h2 Hospedagem WordPress com Domínio Grátis 
			.prices-box__body
				p Na medida certa para seu site WordPress
				small a partir de
				p.prices-box__price
					| R$ 
					span 9,39
					|/mês*
			button.button.button--full
				| Ver Planos

		.prices-box
			.prices-box__header
				i.icon.icon-hospedagem
				h2 Servidor VPS 
			.prices-box__body
				p Autonomia e performance SSD para seus projetos
				small a partir de
				p.prices-box__price
					| R$ 
					span 9,39
					|/mês*
			button.button.button--full
				| Ver Planos