.button{
    width: 100%;
    max-width: 200px;
    height: 45px;
    text-align: center;
    background-color: #fb7e32;
    border-radius: 0.2em;
    transform: scale(1);
    transition: all 0.3s ease;
    color: $c-white;
    font-weight: 600;
    &:hover{
        transform: scale(0.98);
        background-color: #fb7e32e0;
    }
    &--secondary{
        background-color: transparent;
        border: 1px solid $c-white;
        color: $c-white;
        &:hover{
            background-color: $c-white;
            border: 1px solid $c-white;
            color: $c-blue;
        }
    }
}