//global styles
:root { box-sizing: border-box; }

html, body{
  overflow-x: hidden;
}

html {
  width: 100%;
  height: auto;
  min-height: 100vh;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  &.js-noscroll{//TODO: fix noscroll
    // overflow-y: hidden;
    // body{
    //   overflow-y: scroll;
    // }
  }
}

body {
  position: relative;
  font-family: $f-primary;
  font-size: $f-size;
  font-weight: normal;
  letter-spacing: 0.04em;
  color: $f-primary;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  min-width: 320px;
  overflow-x: hidden;

  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body > main{
  position: relative;
  min-height: 100vh;
  // margin-top: $header-height-mobile;
  @media screen and (min-width: 1025px){
    // margin-top: $header-height-desk;
    // margin-top: 96px;
  }
}

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0;
}

  main,
  section,
  li {
    display: block;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
  }
  
  a,
  button {
    color: inherit;
    transition: .3s;
  }

  a {
    text-decoration: none;
  }
  
  button {
    overflow: visible;
    border: 0;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
  }

a,
img { display: block; }

*,
*::before,
*::after { box-sizing: inherit; }

[data-js-highlight]{
  background: rgba(255, 255, 255, 0.3);
  &:before{
    position: relative;
    content: attr(data-js-highlight);
    display: block;
    text-indent: 3px;
    overflow: hidden;
    height: 0;
    width: 0;
    overflow: visible;
    font-size: $f-size;
    text-transform: lowercase;
    letter-spacing: 0.6px;
    color: $c-black;
    text-shadow: 0 0 2px $c-white;
    opacity: 0.7;
    z-index: 1;
    pointer-events: none;
  }
}

.crop-image {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-top: 148.80952381%;
  overflow: hidden;

  > img {
    position: absolute;
    top: 0;
    left: 50%;
    width: auto;
    max-width: initial;
    height: 100%;
    transform: translateX(-50%);
  }
}

  input:not([type="checkbox"]),
  input:not([type="radio"]),
  textarea,
  select,
  button {
    appearance: none;
    -webkit-appearance: textfield;
  }
  
  ::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  :focus {
    outline: 0;
  }
  :selection {
    background-color: $c-primary;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border: 0;
  }
  [type="search"]{
    &::-webkit-search-cancel-button{
      appearance: none;
      display: none;
    }
  }
  