//- Fonts, sizes, colors, spaces

$f-primary: 'Source Sans Pro', sans-serif ;

$f-size: 14px;

$c-orange: #ff8034;
$c-white: #fff;
$c-black: #000;
$c-red: #ff1213;

$c-primary: $c-orange ;
$c-secondary: $c-black ;

$s-sm: 10px;
$s-md: 20px;
$s-lg: 30px;

$header-height-mobile: 64px;
$header-height-desk: 116px;

$size-logo: 80px;